* {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  overflow: hidden;
}

#charity_bh {
  background-color: rgba(0, 0, 0, 0.726);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  color: white;
}

.hidden_bh {
  display: none;
}

#cross_bh {
  position: relative;
  top: 50px;
  float: right;
  right: 50px;
  cursor: pointer;
}

#content_bh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 50%;
  margin: auto;
  box-sizing: border-box;
  transform: translateY(-10%);
}

#container_bh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#title_bh,
#desc_bh,
.buttons {
  margin: 25px 10px;
}

.buttons {
  display: block;
  display: flex;
  align-items: center;
}

button {
  text-align: center;
  background-color: black;
  border: none;
  color: white;
  padding: 15px;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  margin: 15px;
  border-radius: 25px;
  width: 150px;
}

img {
  transform: translate(-10%, 10%);
}
